*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* background: linear-gradient(90deg, gray 0%, yellow 100%); */
    background-color: #EEE;
}



/* Khoi header Chá»©a Logo */
.TopHeader{
    background-color: #ddd;
    width: 100%;
    height: 40px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 100;
}
.TopHeader .Container{
    width: 85%;
    height: 100%;
    margin: auto;
}
.TopHeader a{
    text-decoration: none;
    color: #005d04;
    font-weight: 600;
    font-size: 15px;
}
.TopHeader a:hover{
    color: black;
    
}
.TopHeader ul{
    list-style: none;
    float: right;
    display: flex;
    padding: 5px 5px;
}
.TopHeader ul li{
    padding: 5px 0 5px 18px;
    text-transform: uppercase ;
}
.Hotline{
    padding: 11px;
    float: left;
}
.Hotline i{
    color: red;
}
.GioHang{
    float: right;
    background: #F28902;
    color: #FFF;
    padding: 11px 10px;
    margin-left: 15px;
    font-size: 11px;
}
.GioHang a {
    color: white;
    padding-left: 4px;
}
.GioHang a i{
    margin-right: 5px;

}
/* 
het top header */
/* // Khoi Header */
.Header{
    width: 100%;
    height: 100px;
    background-color: white;
}
.Container{
    width: 85%;
    height: 100%;
    margin: auto;
}
.Header .Container a{
    /* padding: 10px 10px 10px 0; */
    float: left;
}
.Header .Container .widget-head{
    float: left;
    font-size: 20px;
    color: #090;
    margin-top: 20px;
    
}

.Header .Container .widget-head span{
    font-size: 25px;
    font-weight: bold;
    color: #FF8000;
    float: left;
    margin-top: 10px;
}
.TimKiem{
    width: 300px;
    float: right;
    margin-top: 30px;
}
.TimKiem #TimKiem{
    border: 1px solid #CCC;
    border-bottom-width: 2px;
    border-right: none;
    padding: 10px 10px;
    width: calc(100% - 100px);
    float: left;
    border-radius: 5px 0 0 5px;
}
.TimKiem input[type="button"]{
    width: 79px;
    height: 38px;
    background-color: #a7f54b;
    border: none;
    color: white;
    border-radius: 5px;
}
.TimKiem input[type="button"]:hover{
    background-color: #427900;
}
/* Het Khá»‘i Header Chá»©a Logo */







/* KhoiMenu */
.khoimenuc1 {
    background-color: #3daa12;
    width: 100%;
    height: auto;
    position: sticky;
    top:40px;
    left: 0;
    z-index: 100;
}
.khoimenuc1 .menu {
    display: flex;
    width: 85%;
    margin: auto;
    height: 100%;
}
.khoimenuc1 .menu > li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.khoimenuc1 .menu li  > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 17px 16px;
    color: white;
    
}
.khoimenuc1 .menu li:hover .menuc2{
    
    display: block;
}
.khoimenuc1 .menu li > a:hover{
    background-color: rgb(15, 97, 15);
}
.khoimenuc1 .menu .menuc2 .item2 a:hover{
    background-color: #2b8807;
}

 .khoimenuc1 .menu .menuc2{
    position: absolute;
    display: none;
    top:50px;
    left: 0px;
    z-index: 199;
}
.khoimenuc1 .menu .menuc2 .item2{
    list-style:none ;
}
.khoimenuc1 .menu .menuc2 .item2 a{
    
    background-color: #3daa12;
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 9px 15px;
    width: 165px;
    font-size: 13px;
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
    text-align: left;
}
/* Het Khoi Menu */




/* Khoi Can Giua Man Hinh */
.CanGiua{
    width: 85%;
    height: auto;
    margin: auto;
}
.head{
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 15px 0;
    line-height:150%;
    
}
.head a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.head a:hover{
    color: #3daa12;
}
.head a::after{
    content: "\f101";
    font-family: 'FontAwesome';
    color: #04476d;
    padding-left: 5px;
}
.head span{
    color:#FF6600 ;
    font-size: 13px;
}




/* div NOi Dung */
.Noidung{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}



/* Noi dung Trai */
.Noidung .NoiDungTrai {
    width: 25%;
    height: auto;
    margin-top: 20px;
}


.Noidung .NoiDungTrai .active{
    background-color: #3daa12;
    font-size: 16px;
    padding: 10px;
    list-style: none;
    color: #FFF;
    font-weight: bold;
}
.Noidung .NoiDungTrai .Item{
    list-style: none;
    line-height: 25px;
    

}
.Noidung .NoiDungTrai .Item > a{
    text-decoration: none;
    display: inline-block;
    color: #333;
    border-bottom: 1px solid #f1e3e3;
    padding: 5px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}
.Noidung .NoiDungTrai .Item > a:hover{
    color: #FF8000;
    background-color: #ddd;
}
.NoiDungTrai .KhoiTin{
    list-style: none;
    width: 100%;
    height: 166px;
    background-color: white;
    border-bottom: 1px solid #efeaea;
    padding-top: 10px;
}
.NoiDungTrai .KhoiTin ._KhoiTin a{
    text-decoration: none;
    /* display: inline-block; */
    font-weight: 600;
    color: black;
}
.NoiDungTrai .KhoiTin ._KhoiTin a:hover{
    color: #F28902;
}
.NoiDungTrai .KhoiTin ._KhoiTin img{
    float: left;
    padding: 10px;
    
}

.NoiDungTrai .KhoiTin ._KhoiTin p{
    cursor: pointer;
    color: #666;
    font-size: 14px;
    line-height: 25px;
}



/* ND phari */
.NoiDungPhai{
   background-color: white;
   padding: 15px;
   width: 70%;
   height: auto;
}

.NoiDungPhai h1{
    color:#3daa12;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid#3daa12;
}
.dichvu{
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.dichvu .ben1 {
    padding-top: 20px;
    width: 50%; 
    height: auto; 
}

.dichvu .ben1 img{
    width: 100%;
    height: auto;
}
.dichvu .ben1 img:hover{
    /* transform: scale(1.1); */
    transition: 2s;
    transform: rotateX(360deg) rotateZ(360deg);
}
.dichvu .ben1 a{
    font-weight: 600;
    color: #FF8000;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    width: 100px;
    height: auto;
    margin-top: 5px;
    text-decoration: none;
}
.dichvu .ben1 a:hover{
    color: #3daa12;
}
.dichvu .ben1 p{
    width: auto;
    height:auto;
    font-size: 14px;
    color: #333;
} 
.dichvu .ben2{
    width: 50%;
    height: auto;
    line-height: 1.8;
}
.dichvu .ben2 ul{
    padding-left: 20px;
    list-style: none;
}
.dichvu .ben2 a{
    color: #000;
    font-size: 14px;
    text-decoration:none ;
}
.dichvu .ben2 a::before{
    font-family: 'FontAwesome';
    content: "\f0da";
    color: #3daa12;
    font-size: 12px;
    margin-right: 5px;
}
.dichvu .ben2 a:hover{
    color: #FF8000;
}
.duoicung{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    line-height: 1.8 ;
    font-size: 14px;
}
.duoicung .duoicung1{
    width: 30%;
    height: auto;
}
.duoicung .duoicung1 img{
    width: 100%;
    height: auto;
}
.duoicung .duoicung1 img:hover{
    transform: scale(1.1) rotateX(360deg) ;
    transition: 5s;
}
.duoicung .duoicung1 a{
    text-decoration: none;
    color: #3daa12;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
}
.duoicung .duoicung1 a:hover{
    color: #f28902;;
}
.duoicung .duoicung1 p{
    font-size: 14px;
}











/* Nut Back To Top */
.BackToTop{
    position: fixed;
    right: 15px;
    bottom: 5px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: green;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}
.BackToTop i{
    padding: 10px 17px;
    font-size: 35px;
    animation: NhayLenCao 1s forwards infinite;
}
@-webkit-keyframes NhayLenCao{
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-8px);
    }
}

/* Het NUt BackToTop */

.Noidung .NoiDungPhai{
    width: 73%;
    height: auto;
    margin-left:25px;
    margin-top: 20px;
    
}



/* Div Footer */
.Footer{
    background-color: white;
    width: 100%;
    height: 370px;
    color: black;
}
.Footer .Container{
    display: flex;
}
.Footer .Container ._Cot{
    width: 33.3%;
    height: 100%;
}
.Footer .Container ._Cot h2{
   
    padding-top: 20px;
    padding-bottom: 10px;
}
.Footer .Container ._Cot img{
    float: left;
}
.Footer .Container ._Cot span{
    line-height: 1.6;
}
.Footer .Container ._Cot ul{
    margin-left: 20px;
}
.Footer .Container ._Cot ul li{
    line-height: 30px;
}
.Footer .Container ._Cot ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.Footer .Container ._Cot ul li a:hover{
    color: #005d04;
}



/* DIV COPPYRIGHT */
.Copyright{
    padding-top: 25px;
    height: 50px;
    color: white;
    background-color: black;
}
